body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
  .App {
    text-align: center;
  }
  
  .App-header {
    background-color: #1e1e1e;
    padding: 20px;
    border-bottom: 1px solid #333;
  }
  
  h1 {
    color: #bb86fc;
  }
  
  .url-shortener {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #333;
  }
  
  .url-shortener h2 {
    color: #bb86fc;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 4px 0 0 4px;
    background-color: #1e1e1e;
    color: #ffffff;
    min-width: 250px
  }
  
  input::placeholder {
    color: #bbbbbb;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
  
  button:hover {
    background-color: #9933cc;
  }
  
  .url-shortener a {
    color: #bb86fc;
    text-decoration: none;
  }
  
  .url-shortener a:hover {
    text-decoration: underline;
  }
  
  .url-details {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
  }
  
  .url-actions {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
  }
  
  .url-actions button {
    margin: 10px;
    padding: 10px;
    background-color: #bb86fc;
    border: none;
    color: #121212;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .url-actions button:hover {
    background-color: #9933cc;
  }
  