body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1e1e1e;
  padding: 20px;
  border-bottom: 1px solid #333;
}

h1 {
  color: #bb86fc;
}

.input-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.url-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  border: 1px solid #333;
  border-radius: 4px 0 0 4px;
  background-color: #1e1e1e;
  color: #ffffff;
}

input::placeholder {
  color: #bbbbbb;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #bb86fc;
  color: #121212;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
}

button:hover {
  background-color: #9933cc;
}

.error {
  color: #cf6679;
  margin-top: 10px;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.feature {
  flex: 1;
  min-width: 200px;
  padding: 20px;
  background-color: #1e1e1e;
  margin: 10px;
  border-radius: 4px;
}

h3 {
  color: #bb86fc;
}
